<div class="container">
	<% if(msg.length) {%>
	<span class="status"><%=msg %></span>
	<%}%>
	<div class="box-nav d-flex-justify-between">
		<a href="/fakultas/create" class="border-shadow-sky">
			<span class="text-dark"><i class="fas fa-user"></i> Fakultas Baru</span>
		</a>
	</div>

	<!-- form handling -->

	<table class="table table-margin">
		<thead class="thead-dark">
			<tr>
				<th>Nomor</th>
				<th>Nama Fakultas</th>
				<th>Aksi</th>
			</tr>
		</thead>
		<tbody>
			<% for(let i = 0; i < fakultas.length; i++) {%>
			<tr>
				<td><%= i+1 %></td>
				<td class="capitalize"><%= fakultas[i].fakultas %></td>
				<td>
					<a href="/fakultas/<%= fakultas[i].slug %>/edit" class="btn border-shadow update">
						<span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
					</a>
					<a href="<%= fakultas[i].slug %>" class="btn border-shadow delete" onclick='event.preventDefault(); document.getElementById("<%= fakultas[i].slug %>").submit();' style="cursor: pointer">
						<span class="text-gradient"><i class="fas fa-times"></i></span>
					</a>
					<form action="/fakultas/<%= fakultas[i].slug %>/delete?_method=DELETE" method="POST" id="<%= fakultas[i].slug %>"></form>
				</td>
			</tr>
			<%}%>
		</tbody>
	</table>
</div>
